@{
    ViewBag.Title = "AssignExistTraineeCourses";
}

<h2 class="text-danger">Error</h2>

<div>
    <h1 class="text-danger">
        Sorry! This name already existed, please input another name!
    </h1>
</div>

<a type="submit" class="btn btn-primary" href="~/TraineeCourses/Create">Back to Assign</a>